<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AirBnB Clone</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?{{ cache_id }}">
</head>
<body>
    <header>
        <div class="logo"></div>
    </header>
    <div class="container">
        <section class="filters">
            <button>Search</button>
        </section>
    </div>
    <footer>
        <p>Best School</p>
    </footer>
</body>
</html>
